.nav-spacer {
  margin-top: var(--nav-spacing);
}

.container {
  margin-inline: auto;
  max-width: 1200px;
}

.container-full {
  @apply px-12;
}

th {
  text-align: left;
  border-bottom: 1px solid;
  padding-block: 8px;
}

td {
  border-bottom: 1px solid var(--color-neutral-300);
  padding-block: 10px;
}

th:last-child,
td:last-child {
  text-align: right;
}

th:not(:last-child),
td:not(:last-child) {
  padding-right: 5px;
}
