:root {
  --color-yellow: #ffe500;
  --color-pink: #ffaab9;
  --color-green: #1c8249;
  --color-blue: #2298da;
  --color-mint: #37f79b;

  --color-neutral-100: #000000;
  --color-neutral-300: #797979;
  --color-neutral-500: #f1f1f1;
  --color-neutral-700: #fbfbfb;
  --color-neutral-900: #ffffff;

  --color-black: var(--color-neutral-100);
  --color-white: var(--color-neutral-900);

  --color-secondary-light: var(--color-white);
  --color-primary-light: var(--color-black);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);

  // Timing functions
  --theme-transition-time: 1s;
}

@each $color
  in (
    "yellow",
    "pink",
    "green",
    "blue",
    "mint",
    "primary",
    "secondary",
    "neutral-100",
    "neutral-300",
    "neutral-500",
    "neutral-700",
    "neutral-900"
  )
{
  .color-#{$color} {
    color: var(--color-#{$color});
  }
  .color-#{$color}-hover:hover {
    color: var(--color-#{$color});
  }
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }

  @for $opacity from 10 through 100 {
    .color-#{$color}-#{$opacity} {
      color: color-mix(
        in srgb,
        var(--color-#{$color}),
        transparent percentage($opacity / 100)
      );
    }
    .bg-#{$color}-#{$opacity} {
      background-color: color-mix(
        in srgb,
        var(--color-#{$color}),
        transparent percentage($opacity / 100)
      );
    }
  }

  .bg-#{$color}-hover:not(:disabled):hover {
    background-color: var(--color-#{$color});
  }

  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
  .border-#{$color}-hover:not(:disabled):hover {
    border-color: var(--color-#{$color});
  }
}
