// @font-face {
//     font-family: "A CUSTOM FONT";
//     src: url("/fonts/A_CUSTOM_FONT.otf");
// }

:root {
    // font-family: "A CUSTOM FONT";
    font-weight: 400;
    font-size: 1em;
    color: var(--color-fg);
}